@import "tailwindcss";
.text-outline {
  -webkit-text-stroke: 1px rgb(0, 0, 0); /* width + color */
}
.text-outline1 {
  -webkit-text-stroke: 0.8px rgb(32, 32, 32); /* width + color */
}
.text-shadow {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
.text-shadow1 {
  text-shadow: 4px 4px 6px rgba(70, 70, 70, 0.6);
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
